#Projects {
    display: grid;
    border: 0.5px solid grey;
    grid-template-columns: auto auto auto auto;
    padding: 10px;

}

h2 {
  text-align: center;
  background-color: rgb(184, 184, 184);
  padding: 10px;
}
a{
    text-decoration: none;
}

#Projects p{
    width: 60%;
    background-color: aquamarine;
    padding: 10px;
    text-align: center;
}
