*{
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
}
#input_grid{
  width: 90%;
  margin: 5%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(136, 255, 255);
}
#input_grid div label{
  margin: 10px;
}
#input_grid div {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: ce; */
}
.project{
  margin-bottom: 4px;
  padding: 5px;
  border: 1px solid gray;
}
.project input:nth-child(1){
  width: 30%;
  font-size: large;
  font-weight: bold;
}
.project input{
  width: 80%;
  margin: 4px;
}
a{
  text-decoration: none;
}
