*{
    font-family: 'Courier New', Courier, monospace;
}

#text{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100;
    font-size: larger;
}
/* table{

} */
td{
    width: 100px;
    border: .3px solid gray;
    margin: 5px;
    padding: 20px;
    font-size: larger;
    text-align: center;
    border-radius: 3px;
    background-color: antiquewhite;
}
#main{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 600px) {
    td{
        font-size:100px ;
    }
    table{
        border: 1px solid gray;
    }
}