* {
  font-family: "Courier New", Courier, monospace;
}
#ans,
#hint {
  visibility: hidden;
}
h1 {
  text-align: center;
}
#main {
  height: 100px;
  position: relative;
  background-color: bisque;
  font-size: larger;
  padding: 15%;
  text-align: center;
  /* margin: 5%; */
}
#main:hover {
  cursor: pointer;
}
#previousbtn {
  position: absolute;
  bottom: 0px;
  margin: 10px;
  left: 0px;
}
#nextbtn {
  position: absolute;
  bottom: 0px;
  margin: 10px;
  right: 10px;
}

#showbtn {
  position: absolute;
  bottom: 20px;
  margin: 10px;
  right: 100px;
  font-size: larger;
}
#hintbtn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 10px;
  margin: 10px;
}
svg {
  border: 0.4px solid gray;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
#previousbtn {
  transform: rotate(180deg);
}
button:hover {
  cursor: pointer;
  background-color: rgb(126, 171, 255);
}
#hint,
#ans {
  padding: 10px;
  background-color: rgb(190, 190, 190);
}
@media only screen and (max-width:800px){
    #main{
        background-color: aqua;
        padding: 10%;
    }
    h1{
        font-size: 55px;
    }
    svg{
        height: 30px;
        width: 30px;
    }
    #hintbtn{
        height: 30px;
        width: 30px;
    }
    #showbtn{
        bottom: 12px;
    }
    #ans,#que,#hint{
        font-size:20px
    }
}