select{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: x-large;

}
input{
    margin-top:20px;
    margin-bottom:20px;
    font-size: x-large;
    width: 40%;
    display: inline-block;
}
#main{
    margin-top: 10px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    margin: 20px;
    font-size: large;
}
h1{
    width: 100%;
    margin: 0px;
    text-align: center;
    padding: 10px;
    background-color: aquamarine;
}
