* {
  margin: 0px;
  background-color: antiquewhite;
}
h1 {
  text-align: center;
  padding: 10px;
  background-color: aquamarine;
}
section{
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
}
footer p{
    position: fixed ;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: aquamarine !important;
}

@media only screen and (max-width:800px){
  h1{
    font-size: 40px;
  }
  ol ,p{
    font-size: 25px;
  }
}

@media only screen and (max-width:660px){
  h1{
    font-size: 30px;
  }
}