* {
  margin: 0px;
  background-color: antiquewhite;
}
h1 {
  text-align: center;
  padding: 10px;
  background-color: aquamarine;
}
section{
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
}
footer p{
    position: fixed ;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: aquamarine !important;
}